* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6c3aed;
  --primary-text: #f1edff;
  --background: #ffffff;
  --text: #172033;
  --muted: #667085;
  --footer: #111827;

  --section-padding: 14px 150px;
}