@import "tailwindcss";

:root {
  --background: #f0eade;       /* cream color */
  --text: #54464d;             /* slate color */
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
}