@import "tailwindcss";

:root {
  --primary: #ff7e21;
  --foreground: #ffffff;
  --background: rgb(10, 10, 10);
  --card: rgb(20, 20, 20);
  --accent: rgb(30, 30, 30);
  --border: rgb(40, 40, 40);
  --muted: rgb(48, 48, 48);
  --input: rgb(50, 50, 50);
  --muted-foreground: rgb(150, 150, 150);
  --accent-foreground: #ffffff;
  --destructive: #f55;
  --destructive-foreground: #ffffff;

  /* spacings and border radius */
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 4rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
